
// Media Queries
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tabeltUp {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 960px) {
    @content;
  }
}

// REM calc
@function calcRemSize($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// Font size
@mixin font-size($size) {
  font-size: $size;
  font-size: calcRemSize($size);
}

// Line height
@mixin line-height($size) {
  line-height: $size;
  line-height: calcRemSize($size);
}
